<template>
    <div class="dashboard">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header alt">
                        <span class="header-text">
                            Open Work Items
                            <a href="/work-items/?status=5" class="badge badge-pill badge-primary badge-large float-right">{{statusCountsProp.data.aggregates.total_open.value}}</a>
                        </span>
                    </div>
                    <div class="card-body">
                        <div class="progress-group" v-for="status in statusCounts">
                            <div class="progress-group-header align-items-end">
                                <i class="icon-globe progress-group-icon"></i>
                                <div><a :href="'/work-items/?status=' + status.id">{{ status.label }}</a></div>
                                <div class="ml-auto font-weight-bold mr-2">{{ status.value }}</div>
                                <div class="text-muted small">({{ Math.round(((status.value / total) * 100) *10 ) /10 }}%)</div>
                            </div>
                            <div class="progress-group-bars">
                                <div class="progress progress-xs">
                                    <div class="progress-bar bg-success" role="progressbar" :style="'width:' + (status.value / total) * 100 + '%;'" :aria-valuenow="status.value" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</template>

<script>
    export default {
        props: {
            statusCountsProp: Object,
        },
        data: function () {
            return {
               statusCounts: this.statusCountsProp.data.totals
            };
        },
        computed: {
            total: function () {
                let total = 0;
                let attribute;
                for (attribute in this.statusCounts) {
                    total += this.statusCounts[attribute].value;
                }
                return total;
            }
        }
    }
</script>
