<template>
    <div class="work-item-create">
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header alt">
                        <span class="header-text">Select A Customer</span>
                    </div>
                    <div class="card-body">
                        <customer-autocomplete
                            @selected="setCustomer"
                        ></customer-autocomplete>
                        <div id="create-customer">
                            <create-customer-form @created="customerCreatedHandle"></create-customer-form>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header alt">
                        <span class="header-text">Customer Devices</span>
                    </div>
                    <div class="card-body">
                        <customer-devices-table
                            v-if="form.data.workItem.customer_id"
                            :customer-id="form.data.workItem.customer_id"
                            @selected="setDevice"
                        >
                        </customer-devices-table>
                        <div v-else>
                            Select a customer to see the customer's devices
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header alt">
                        <span class="header-text">Select A Device</span>
                    </div>
                    <div class="card-body">
                        <device-autocomplete
                            @selected="setDevice"
                        >
                        </device-autocomplete>
                        <button class='btn btn-outline-primary m-2 float-right' href='#' data-toggle='modal' data-target='#newDeviceModal'>Add New Device</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-header alt">
                        <span class="header-text">Add A Work Item</span>
                    </div>

                    <div class="card-body">

                        <http-helper
                            :action="http.action"
                            :url="http.url"
                            :data="form.data"
                            :resetState="http.resetState"
                            @created = handleHttpCreated
                            @failed = handleHttpFailed
                        ></http-helper>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="card entity-card" v-bind:class="{'alert-danger' : form.customer && !form.customer.id, 'alert-success' : form.customer.id}">
                                    <div class="card-body">
                                        <div>
                                            <h3>{{ form.customer.first_name ? form.customer.first_name + ' ' + form.customer.last_name : 'Customer '}} </h3>
                                            <p v-if="_.get(form, ['customer','company','data','name'])">
                                                <small><strong>Company:</strong><br /> {{ form.customer.company.data.name }}</small><br />
                                                <small><strong>Company Phone:</strong><br /> {{ form.customer.company.data.telephone }}</small><br />
                                                <small><strong>Company Address:</strong><br /> {{ form.customer.company.data.address }}</small><br />
                                            </p>
                                            <div v-if="!_.get(form, ['customer','company','data','name'])">
                                                <small><strong>Address:</strong> {{ form.customer.address ? form.customer.address : "- -" }}</small> <br />
                                            </div>
                                            <div>
                                                <small><strong>Email:</strong> {{ form.customer.email ? form.customer.email : "- -" }}</small> <br />
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <small><strong>Home:</strong><br /> {{ form.customer.home_telephone ? form.customer.home_telephone : '-' }}</small> <br />
                                                </div>
                                                <div class="col">
                                                    <small><strong>Mobile:</strong><br />  {{ form.customer.mobile_telephone ? form.customer.mobile_telephone : '-' }}</small> <br />
                                                </div>
                                                <div class="col">
                                                    <small><strong>Work:</strong><br />  {{ form.customer.work_telephone ? form.customer.work_telephone : '-' }}</small> <br />
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card entity-card" v-bind:class="{'alert-danger' : !form.device.id, 'alert-success' : form.device.id}">
                                    <div class="card-body">
                                        <h3>{{ form.device.manufacturer ? form.device.manufacturer + ' ' + form.device.model : 'Device'}}</h3>
                                        <p>
                                            <small><strong>Serial: </strong> {{ form.device.serial ? form.device.serial : ' - -'}}</small>
                                            <small class="ml-4"><strong>Type: </strong> {{ form.device.type ? form.device.type.name : ' - -'}}</small>

                                        </p>
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <label for="devicePassword" class=""><small><strong>Password:</strong></small> </label>
                                                <input id="devicePassword" type="text" v-model="form.data.device.password"
                                                       class="form-control disable-autocomplete form-control-plaintext ml-2 pl-2 white-opacity-50 form-control-sm">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card border-0 mt-5">
                            <div class="card-header alt">
                                <span class="header-text">Information</span>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group col">

                                        <v-select
                                            v-if="enums"
                                            v-model="form.data.workItem.branch_id"
                                            :items="enums.branches"
                                            item-value="id"
                                            item-text="name"
                                            :return-object="false"
                                            label="Branch"
                                        ></v-select>

                                    </div>

                                    <div class="form-group col">
                                        <v-select
                                            v-if="enums"
                                            v-model="form.data.workItem.priority_id"
                                            :items="enums.priorities"
                                            item-value="id"
                                            item-text="name"
                                            :return-object="false"
                                            label="Priority"
                                        ></v-select>

                                    </div>
                                </div>

                                <v-textarea
                                    v-model="form.data.workItem.description"
                                    class="disable-autocomplete"
                                    label="Issue Description"
                                    hint="Describe the issue"
                                ></v-textarea>

                                <v-textarea
                                    class="disable-autocomplete"
                                    v-model="form.data.workItem.notes"
                                    label="Notes"
                                    hint="Add notes"
                                ></v-textarea>
                            </div>
                        </div>
                        <div class="card border-0 mt-5">
                            <div class="card-header alt">
                                <span class="header-text">Support</span>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <v-checkbox
                                            v-model="form.data.workItem.warranty"
                                            label="Warranty"
                                        ></v-checkbox>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <v-checkbox
                                            v-model="form.data.workItem.support_contract"
                                            label="Support Contract"
                                        ></v-checkbox>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card border-0">
                            <div class="card-header alt">
                                <span class="header-text">Inventory</span>
                            </div>
                            <div class="card-body">
                                <div id="components" class="mt-2 p-2 border form-group" style="min-height:40px;">
                                    <div v-if="deviceInventoryOptions.length">
                                        <div class="form-check form-check-inline" v-for="option in deviceInventoryOptions">
                                            <input class="form-check-input" type="checkbox" :id="'component' + option.name " :value="option.id" v-model="form.data.inventory">
                                            <label class="form-check-label" :for="'component' + option.name ">{{option.name}}</label>
                                        </div>
                                    </div>

                                    <div v-else>
                                        This device type has no inventory components.
                                    </div>

                                </div>

                                <v-textarea
                                    label="Additional Information"
                                    v-model="form.data.workItem.inventory_notes"
                                ></v-textarea>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer clearfix">
                        <button class="btn btn-success float-right ml-1" type="button" @click="create">
                            <i class="fa fa-dot-circle-o"></i> Save
                        </button>
                        <button class="btn btn-danger float-right" type="reset">
                            <i class="fa fa-ban"></i> Reset
                        </button>

                    </div>
                </div>
            </div>
            <!-- /.col-->
        </div>
        <device-add
            url = '/devices'
            v-bind:device-types = "deviceTypes"
            :models = "enums.models"
            :manufacturers = "enums.manufacturers"
            :device-types = "enums.deviceTypes"
            ref="newdeviceform"
            modal="newDeviceModal"
            @created = "deviceCreatedHandle"
        ></device-add>
    </div>

</template>

<script>

    import {HttpMixin} from "../Common/Mixins/HttpMixin";
    import {FeatureMixin} from "../Common/Mixins/FeatureMixin";
    import CustomerDevicesTable from "../Devices/CustomerDevicesTable";
    import CompanyAdd from "../Companies/CompanyAdd";

    export default {
        components: {CompanyAdd, CustomerDevicesTable},
        mixins: [HttpMixin, FeatureMixin],
        props: {
        },
        data: function () {
            return {
                http: {
                    action: null,
                    url: '/work-items'
                },
                form: {
                    data: {
                        workItem: {
                            customer_id: null,
                            device_id: null,
                            priority_id: 2,
                            notes: null,
                            inventory_notes: null,
                            description: null,
                            branch_id: null,
                            warranty: false,
                            support_contract: false,
                        },
                        device: {
                            password: null
                        },
                        inventory: [],
                    },
                    customer: {
                        company: {},
                    },
                    device: {},
                    workItem: {
                        components: ['Desktop'],
                    }
                },
                config: {
                },
                enums: false,
                selectedDeviceType: "",
                deviceTypes: this.inventory,
                branches: this.branches,
                priorities: this.priorities,
                models: this.models,
                manufacturers: this.manufacturers,
                availableComponents: [],
            }
        },
        computed: {
            deviceInventoryOptions: function () {
                if (this.enums.deviceTypes && this.form.device.type) {
                    let deviceType = this.enums.deviceTypes.find(deviceType => deviceType.id === this.form.device.type.id);
                    if (deviceType) {
                        return deviceType.inventory_options;
                    }
                }

                return [];
            }
        },
        mounted() {
            this.init();
        },
        methods: {
            init() {
                this.setEnums();
            },
            setEnumValues() {
                this.form.data.workItem.branch_id = this.enums.branches.length ? this.enums.branches[0].id : null;
                this.form.data.workItem.priority_id = this.enums.priorities.length ? this.enums.priorities[1].id : null;

            },
            restInventory() {
                this.form.data.inventory = [];
                this.form.data.workItem.inventory_notes = null;
            },
            setEnums() {
                axios.get('/auto-complete/enums')
                    .then(response => {
                        this.enums = Object.assign({}, this.enums, response.data);
                        this.setEnumValues();
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },

            setCustomer(customer) {
                this.form.customer = customer;
                this.form.data.workItem.customer_id = customer.id;
            },

            customerCreatedHandle(response) {
                this.setCustomer(response.data);

            },
            deviceCreatedHandle(response) {
                this.setDevice(response.data);
            },
            setDevice(device) {
                this.form.device = device;
                this.form.data.device.password = device.password;
                this.form.data.workItem.device_id = device.id;
                this.form.data.inventory = [];
            },
            showDeviceTypeComponents() {
                this.selectedDeviceType.options = this.selectedDeviceType.options.concat(['Keyboard', 'Mouse', 'Software'])
                this.form.workItem.components = [this.selectedDeviceType.name];
            },

            handleHttpCreated(response) {
                location.href = "/work-items/" + response.data.id;
            },
            handleHttpFailed() {
                this.http.action = null;
            },

            create() {
                this.http.action = 'create';
            },
        },

    }
</script>
