<template>
    <div class="work-item-show">
        <div class="row">
            <div class="col text-right">
                <v-btn :right=true target="_blank" :href="'/prints/work-items/' + workItem.id + '/receipt'"
                       rounded small outlined color="secondary">
                    Print Receipt <v-icon>print</v-icon>
                </v-btn>
            </div>
        </div>

        <v-expansion-panels multiple class="mb-4" accordion v-model="openExpansions">
            <v-expansion-panel>
                <v-expansion-panel-header>
                    <h3>Work Item - {{workItem.id}}</h3>
                </v-expansion-panel-header>

                <v-expansion-panel-content>
                    <div class="row">
                        <div class="col">
                            <p><strong>Device:</strong> {{workItem.device.data.manufacturer + ' ' + workItem.device.data.model}}</p>
                            <p><strong>Serial:</strong>
                                {{workItem.device.data.serial}}
                                <warranty-link
                                    :device = "workItem.device.data"
                                >
                                </warranty-link>
                            </p>
                            <p><strong>Password:</strong>
                                {{workItem.device.data.password}}
                                <device-password-update v-if="workItem"
                                                        :password="workItem.device.data.password"
                                                        :device-id="workItem.device.data.id"
                                                        @passwordUpdated="workItemRefreshFromServer"
                                >
                                </device-password-update>
                            </p>
                            <p><strong>Created:</strong> {{workItem.created_at | formatDate}}</p>
                            <p><strong>Last Updated:</strong> {{workItem.updated_at | formatDate}}</p>
                            <p><strong>Signed In By:</strong> {{workItem.signed_in_by.data.name}}</p>
                            <p><strong>Warranty:</strong> {{workItem.warranty ? "Yes" : "No"}}</p>
                            <p><strong>Support Contract:</strong> {{workItem.support_contract ? "Yes" : "No"}}</p>

                        </div>
                        <div class="col">
                            <p><strong>Branch:</strong> {{workItem.branch ? workItem.branch.name : "Unknown"}}</p>

                            <div v-if="workItem.customer.data.company">
                                <p>
                                    <strong>Company:</strong>
                                    <a :href="'/companies/' + workItem.customer.data.company.data.id">
                                        {{workItem.customer.data.company.data.name}}
                                    </a>
                                </p>
                                <p><strong>Contact:</strong>
                                    <a :href="'/customers/' + workItem.customer.data.id">
                                        {{workItem.customer.data.full_name}}
                                    </a>
                                </p>
                            </div>
                            <div v-else>
                                <p><strong>Customer:</strong>
                                    <a :href="'/customers/' + workItem.customer.data.id">
                                        {{workItem.customer.data.full_name}}
                                    </a>
                                </p>
                            </div>

                            <p><strong>Priority:</strong> {{workItem.priority ? workItem.priority.name : 'Unknown'}}
                                <work-item-priority-update
                                    v-if = "workItem && enums"
                                    :priority="workItem ? workItem.priority :{id:0}"
                                    :work-item-id="workItem ? workItem.id : 0"
                                    :priorities="enums ? enums.priorities : []"
                                    @priorityUpdated="handleWorkItemUpdated"
                                >
                                </work-item-priority-update>
                            </p>
                            <p><strong>Status:</strong> {{workItem.status ? workItem.status.name : 'Unknown'}}</p>
                            <p><strong>Assigned To:</strong> {{workItem.assigned_to ? workItem.assigned_to.data.name : 'Not Yet Assigned'}}</p>
                            <p><strong>Time Spent:</strong> {{workItem.time}} minutes ({{Math.round((workItem.time/60)*100)/100}} hours)</p>
                            <p><strong>Invoice:</strong> {{workItem.invoice_number ? workItem.invoice_number : 'N/A'}}</p>
                            <p><strong>Inventory:</strong> {{workItem.inventory ? workItem.inventory : 'N/A'}}</p>
                        </div>
                    </div>
                </v-expansion-panel-content>
            </v-expansion-panel>
            <v-expansion-panel>
                <v-expansion-panel-header>
                    <h4>Description</h4>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                    <div class="row">
                        <div class="col">
                            <p>
                                {{workItem.description}}
                                <work-item-description-update
                                    :description="workItem ? workItem.description : ''"
                                    :work-item-id="workItem ? workItem.id : 0"
                                    @descriptionUpdated="handleWorkItemUpdated"
                                >
                                </work-item-description-update>
                            </p>
                        </div>
                    </div>
                </v-expansion-panel-content>
            </v-expansion-panel>
            <v-expansion-panel>
                <v-expansion-panel-header>
                    <h4>
                        Parts
                        <span class="badge badge-pill badge-primary">{{workItem.parts.data.length}}</span>
                    </h4>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                    <div class="row">
                        <div class="col">
                            <add-part
                                :current-user="currentUser"
                                :work-item="workItem"
                                @created="workItemRefreshFromServer"
                                v-if="workItem"
                            ></add-part>
                            <div v-if="workItem.parts.data.length">
                                <ul class="list-group">
                                    <li class="list-group-item" v-for="part in workItem.parts.data">
                                        <v-icon small color="orange">extension</v-icon> {{part.description}} (Serial: {{part.serial? part.serial : 'none'}})
                                        <a href="#0" @click.stop="removePart(part)" >
                                            <v-icon color="red" small class="ml-2">delete</v-icon>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <p v-else>
                                No parts used.
                            </p>

                        </div>
                    </div>

                </v-expansion-panel-content>
            </v-expansion-panel>
            <v-expansion-panel>
                <v-expansion-panel-header>
                    <h4>
                        Billing
                        <span class="badge badge-pill badge-primary">{{workItem.billings.data.length}}</span>
                    </h4>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                    <div class="row">
                        <div class="col">
                            <billing-add
                                :current-user="currentUser"
                                :work-item = "workItem"
                                @created="workItemRefreshFromServer"
                                v-if="workItem"
                            >
                            </billing-add>
                            <billing-list v-if="workItem.billings.data.length"
                                          :billing-items="workItem.billings.data"
                            >
                            </billing-list>
                            <div v-else>No Billing Done As Yet</div>
                        </div>
                    </div>
                </v-expansion-panel-content>
            </v-expansion-panel>
            <v-expansion-panel>
                <v-expansion-panel-header>
                    <h4>
                        Change History
                        <span class="badge badge-pill badge-primary">{{workItem.workItemHistory.data.length}}</span>
                    </h4>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                    <work-item-history-create
                        v-if="workItem && enums"
                        :enums="enums"
                        :work-item="workItem"
                        :current-user = "currentUser"
                        @created="workItemRefreshFromServer"

                    ></work-item-history-create>
                    <work-item-history-index
                    :history="workItem.workItemHistory.data"
                    >
                    </work-item-history-index>
                </v-expansion-panel-content>
            </v-expansion-panel>

        </v-expansion-panels>


        <remove-part
        :part="remove.part.part"
        :work-item="workItem"
        :current-user="currentUser"
        :dialog="remove.part.dialog"
        @close="handleRemovePartDialogClosed"
        @remove="workItemRefreshFromServer"
        >
        </remove-part>
    </div>
</template>

<script>
    import WorkItemPriorityUpdate from "./WorkItemPriorityUpdate";
    import WorkItemDescriptionUpdate from "./WorkItemDescriptionUpdate";
    import BillingAdd from "../Billings/BillingAdd";
    import BillingList from "../Billings/BillingList";
    import WorkItemHistoryCreate from "../WorkItemHistory/WorkItemHistoryCreate";
    import AddPart from "../Parts/AddPart";
    import RemovePart from "../Parts/RemovePart";
    import {HttpMixin} from "../Common/Mixins/HttpMixin";
    import DevicePasswordUpdate from "../Devices/DevicePasswordUpdate";
    import {UtilityMixin} from "../Common/Mixins/UtilityMixin";
    import WarrantyLink from "../Common/WarrantyLink";
    import WorkItemHistoryIndex from "../WorkItemHistory/WorkItemHistoryIndex";
    function defaultData(app) {
        return {
            statuses: app.workItemsCount ? app.workItemsCount: {},
        }
    }
    export default {
        mixins:  [HttpMixin, UtilityMixin],
        components: {
            WorkItemHistoryIndex,
            WarrantyLink,
            DevicePasswordUpdate,
            RemovePart,
            AddPart,
            WorkItemHistoryCreate, BillingList, BillingAdd, WorkItemDescriptionUpdate, WorkItemPriorityUpdate},
        props: {
            workItemObject: null,
            currentUser: null,
        },
        data: function () {
            return {
                openExpansions: [0,1,4],
                workItem: null,
                enums: null,
                remove: {
                    part: {
                        dialog:false,
                        part: null,
                    }
                }
            }
        },
        computed: {
        },
        created() {
            this.workItem = Object.assign({}, this.workItemObject.data);
            this.setEnums();
        },
        methods: {
            removePart(part) {
                this.remove.part.part = part;
                this.remove.part.dialog = true;
            },
            workItemLoad(data) {
                this.workItem = Object.assign({}, this.workItem, data.data);
            },
            setEnums() {
                axios.get('/auto-complete/enums')
                    .then(response => {
                        this.enums = Object.assign({}, this.enums, response.data);
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            workItemRefreshFromServer() {
                axios.get('/work-items/' + this.workItem.id)
                    .then(response => {
                        this.handleWorkItemUpdated(response.data);
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            handleWorkItemUpdated(data) {
                this.workItemLoad(data);
            },
            handleRemovePartDialogClosed() {
                this.remove.part.dialog = false;
            }
        },

    }
</script>
