<template>
    <div class="workItems">
        <div class="card">
            <div class="card-header">
                <div class="tableFilters">

                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label>Search</label>
                            <input class="input form-control" type="text" v-model="tableData.search" placeholder="Search Table"
                                   @input="getWorkItemsDebounce()">
                        </div>
                        <div class="control form-group col-md-2">
                            <label>Status</label>
                            <select class='form-control' v-model="tableData.status" @change="getWorkItemsImmediate()">
                                <option value="">Any</option>
                                <option value="999">[Review For Billing]</option>
                                <option v-for="(status, index) in enums.statuses" :key="index" :value="status.id">{{status.name}}</option>
                            </select>
                        </div>
                        <div class="control form-group col-md-2">
                            <label>Priority</label>
                            <select class='form-control' v-model="tableData.priority" @change="getWorkItemsImmediate()">
                                <option value="">Any</option>
                                <option v-for="(priority, index) in enums.priorities" :key="index" :value="priority.id">{{priority.name}}</option>
                            </select>
                        </div>
                        <div class="control form-group col-md-2">
                            <label>Has Been Billed</label>
                            <select class='form-control' v-model="tableData.billed" @change="getWorkItemsImmediate()">
                                <option value="">All</option>
                                <option value=1>Yes</option>
                                <option value=0>No</option>
                            </select>
                        </div>

                        <div class="control form-group col-md-2">
                            <label>Per Page</label>
                            <select class='form-control' v-model="tableData.length" @change="getWorkItemsImmediate()">
                                <option v-for="(records, index) in perPage" :key="index" :value="records">{{records}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="control form-group col-md-2">
                            <label>Signed In By</label>
                            <select class='form-control' v-model="tableData.signedInBy" @change="getWorkItemsImmediate()">
                                <option value="">Any</option>
                                <option v-for="(user, index) in enums.users" :key="index" :value="user.id">{{user.name}}</option>
                            </select>
                        </div>
                        <div class="control form-group col-md-2">
                            <label>Assigned To</label>
                            <select class='form-control' v-model="tableData.assignedTo" @change="getWorkItemsImmediate()">
                                <option value="">Any</option>
                                <option v-for="(user, index) in enums.users" :key="index" :value="user.id">{{user.name}}</option>
                            </select>
                        </div>
                        <div class="control form-group col-md-2">
                            <label>Under Warranty</label>
                            <select class='form-control' v-model="tableData.warranty" @change="getWorkItemsImmediate()">
                                <option value="">All</option>
                                <option value=1>Yes</option>
                                <option value=0>No</option>
                            </select>
                        </div>
                        <div class="control form-group col-md-2">
                            <label>Service Contract</label>
                            <select class='form-control' v-model="tableData.serviceContract" @change="getWorkItemsImmediate()">
                                <option value="">All</option>
                                <option value=1>Yes</option>
                                <option value=0>No</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="form-check form-check-inline">
                                <input @change="toggleTableDataDateRange" class="form-check-input" type="checkbox" v-model="dateRangeFilter"  id="dateRangeFilter">
                                <label class="form-check-label" for="dateRangeFilter">Use Date Filter</label>
                            </div>
                            <div v-if="dateRangeFilter">

                        <date-range-picker
                                    v-model = 'dateRangePicker.range'
                                    :locale-data="dateRangePicker.locale"
                                    :opens="dateRangePicker.opens"
                                    @update="acceptDateRange"

                        >
                                    <!--Optional scope for the input displaying the dates -->
                                    <button><div slot="input" slot-scope="picker">test</div></button>
                                </date-range-picker>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-5">
            <v-data-table
                :headers="headers"
                :items="workItems"
                :single-expand="singleExpand"
                :expanded.sync="expanded"
                item-key="id"
                :options.sync="options"
                :server-items-length="totalWorkItems"
                :items-per-page="this.tableData.length"
                :loading="fetching"
                loading-text="Loading... Please wait"
                show-expand
                class="elevation-1"
                :footer-props="{'items-per-page-options': this.perPage}"
            >

                <template v-slot:item.id="{ item }">
                    <a :href="'/work-items/' + item.id">{{item.id}}</a>
                </template>

                <template v-slot:item.priority="{ item }">
                        <span v-if="item.priority">
                            <v-icon title="High Priority" color="red darken-4" v-if="item.priority.name === 'High'">priority_high</v-icon>
                            <v-icon title="Low Priority" color="blue-grey" v-if="item.priority.name === 'Low'">low_priority</v-icon>
                        </span>
                </template>

                <template v-slot:item.status="{ item }">
                    {{ item.status.name }}
                </template>

                <template v-slot:item.customer="{ item }">
                        <span v-if="item.customer.data.company">
                            <a :href="'/companies/' + item.customer.data.company.data.id">{{item.customer.data.company.data.name}}</a>
                        </span>
                    <span v-else>
                            <a :href="'/customers/' + item.customer.data.id">{{item.customer.data.full_name}}</a>
                        </span>
                </template>
                <template v-slot:item.device="{ item }">
                    {{item.device.data.manufacturer}} {{item.device.data.model}}
                    <div class="text-muted">
                        {{item.device.data.serial }}
                    </div>
                    <warranty-link
                        :device = "item.device.data"
                    ></warranty-link>
                </template>

                <template v-slot:item.last_update="{ item }">
                    <div v-if="item.assigned_to">
                        <small class="text-muted">
                            {{item.assigned_to.data.name}} said:
                        </small>
                    </div>
                    <div v-else>
                        <small class="text-muted">Not Yet Assigned - Issue Description:</small>
                    </div>
                    {{item.workItemHistory.data.length ? item.workItemHistory.data[0].description : item.description}}
                </template>

                <template v-slot:item.updated_at="{ item }">
                    <div :style="{borderBottomStyle: 'solid', borderBottomColor: statusLed(item)}" class="text-center p-1">
                        {{item.updated_at | formatDate}}
                    </div>
                </template>

                <template v-slot:expanded-item="{ item }">
                    <td :colspan="9" class="pt-4">
                        <work-item-history-index
                            :work-item="item"
                            :history = "item.workItemHistory.data"
                        >
                        </work-item-history-index>
                    </td>
                </template>
            </v-data-table>
        </div>
    </div>
</template>

<script>
    import Datatable from '../Common/Datatable.vue';
    import moment from 'moment'
    import {UtilityMixin} from "../Common/Mixins/UtilityMixin";
    import WarrantyLink from "../Common/WarrantyLink";
    import WorkItemHistoryIndex from "../WorkItemHistory/WorkItemHistoryIndex";

    export default {
        components: {WorkItemHistoryIndex, WarrantyLink, datatable: Datatable},
        mixins: [UtilityMixin],
        props: {
            filters : null,
        },
        created() {
            this.setEnums();
            this.setupInitialFilters();
            this.getWorkItemsImmediate();
        },
        watch: {
            options: {
                handler () {
                    this.syncTableData();
                    this.getWorkItemsImmediate();
                },
                deep: true,
            },
            tableData :
                {
                    handler : function (val,oldVal) {
                    localStorage.tableData = JSON.stringify(val);
                    },
                    deep: true
                },
        },
        computed: {
        },
        data() {

            return {
                dateRangePicker:{
                    range: {
                        startDate: moment(new Date()).add(-1, 'month'),
                        endDate: moment(new Date())
                    },
                    opens: 'left',
                    locale: {
                        direction: 'ltr', //direction of text
                        format: 'DD-MMM-YYYY', //format of the dates displayed
                        separator: ' - ', //separator between the two ranges
                        applyLabel: 'Apply',
                        cancelLabel: 'Cancel',
                        weekLabel: 'W',
                        customRangeLabel: 'Custom Range',
                        daysOfWeek: moment.weekdaysMin(), //array of days - see moment documenations for details
                        monthNames: moment.monthsShort(), //array of month names - see moment documenations for details
                        firstDay: 1, //ISO first day of week - see moment documenations for details
                        showWeekNumbers: true //show week numbers on each row of the calendar
                    }
                },
                dateRangeFilter: false,

                fetching: false,
                workItems: [],
                enums: {},

                options: {
                    sortBy: ['updated_at'],
                    sortDesc: [true],
                    mustSort: true,
                    multiSort: false,
                },
                totalWorkItems: 0,
                expanded: [],
                singleExpand: true,
                headers: [
                    {
                        text: '',
                        align: 'left',
                        sortable: false,
                        value: 'priority',
                        width: '0px'
                    },
                    { text: 'SR#', value: 'id', width: '80px' },
                    { text: 'Status', value: 'status', width: '90px', sortable: false },
                    { text: 'Customer', value: 'customer', sortable: false },
                    { text: 'Device', value: 'device', sortable: false },
                    { text: 'Last Update', value: 'last_update', width:'50%', sortable: false },
                    { text: 'Last Modified', value: 'updated_at', width:'150px' },
                ],

                perPage: [10, 20, 30],
                tableData: {
                    draw: 0,
                    length: 10,
                    search: '',
                    status: '',
                    priority: '',
                    branch: '',
                    warranty: '',
                    billed: '',
                    serviceContract: '',
                    column: 'updated_at',
                    dir: 'desc',
                    dateRange: null,
                    signedInBy: '',
                    assignedTo: '',
                    currentPage:1,
                    page: 1,
                },
                incompleteStatuses: ['Active','Awaiting Parts','Awaiting Customer Response','RMA'],
            }
        },
        methods: {
            setupInitialFilters() {
                if (this.filters.length !== 0) {
                    this.tableData = Object.assign({},this.tableData, this.filters);
                } else if (localStorage.tableData) {
                    let tableDataFromLocalStorage = JSON.parse(localStorage.tableData);
                    this.tableData = Object.assign({},this.tableData, tableDataFromLocalStorage);
                }
            },
            acceptDateRange(range){
                this.tableData.dateRange = {
                    startDate: moment(range.startDate).format(),
                    endDate: moment(range.endDate).format(),
                };
                this.getWorkItemsImmediate();
            },
            getWorkItemsDebounce: _.debounce(function (url = '/work-items') {
                this.getWorkItemsImmediate(url);
            }, 500),

            getWorkItemsImmediate(url='/work-items') {
                this.fetching = true;
                this.tableData.draw++;
                axios.get(url, {params: this.tableData})
                    .then(response => {
                        this.fetching = false;
                        this.expanded = [];
                        let data = response.data;
                        if (this.tableData.draw == data.meta.draw) {
                            this.workItems = data.data;
                            this.totalWorkItems = data.meta.pagination.total;
                        }
                    })
                    .catch(errors => {
                        this.fetching=false;
                    });
            },

            setEnums() {
                axios.get('/auto-complete/enums')
                    .then(response => {
                        this.enums = Object.assign({}, this.enums, response.data);
                    })
                    .catch(error => {
                    })
            },
            toggleTableDataDateRange(){
                if(this.dateRangeFilter) {
                    this.getWorkItemsDebounce();
                    let dateRangeObj = {startDate: this.dateRangePicker.range.startDate, endDate: this.dateRangePicker.range.endDate};
                    this.tableData.dateRange = Object.assign({}, this.tableData.dateRange, dateRangeObj);
                } else {
                    this.tableData.dateRange = null;
                    this.getWorkItemsDebounce();
                }
            },
            syncTableData(){
                this.tableData.currentPage = this.options.page;
                this.tableData.page = this.options.page;
                this.tableData.length = this.options.itemsPerPage;
                if (this.options.sortDesc.length) {
                    this.tableData.dir = this.options.sortDesc[0] ? 'desc' : 'asc';
                }
                this.tableData.column = this.options.sortBy.length ? this.options.sortBy[0]: null;
            },
            statusLed(workItem){

                if (!this.incompleteStatuses.includes(workItem.status.name)) {
                    return '#DDDDDD';
                }

                let now = moment(new Date());
                let lastUpdated = moment(this.getLastUpdatedDate(workItem));
                let diff = now.diff(lastUpdated, 'hours');
                if (diff < 48) {
                    return '#5cb85c';
                }
                if (diff >= 48 && diff < 96) {
                    return '#f0ad4e'
                }

                return '#d9534f';
            },
            getLastUpdatedDate(workItem) {
                if (!workItem.workItemHistory.data.length > 0) {
                 return workItem.created_at;
                }

                return workItem.workItemHistory.data[0].created_at;
            }
        }
    };
</script>
