<template>
    <v-dialog v-model="dialog" max-width="500px">
        <template v-slot:activator="{ on }">
            <v-icon
                v-on="on"
                small
                class="mr-2"
            >
                edit
            </v-icon>
        </template>
        <v-card>
            <v-card-title>
                <span class="headline">Edit Description</span>
            </v-card-title>

            <v-card-text>
                <errors
                    :submitting = form.submitting
                    :errors = form.errors
                ></errors>
                <v-container grid-list-md>
                    <v-layout wrap>
                        <v-flex xs12 sm12 md12>
                            <v-textarea
                                v-model="form.data.description"
                                label="Description"
                            ></v-textarea>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                <v-btn color="blue darken-1" text @click="updateDescription">Save</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>

    function defaultData(el) {
        return {
            dialog: false,
            form: {
                errors: {},
                submitting: false,
                data: {
                    description: el.description
                }
            }
        }
    }

    export default {
        props: {
            description: {type: String},
            workItemId: {type: Number, required:true},
        },

        data: function () {
            return defaultData(this);
        },
        watch: {
            dialog(newVal,oldVal) {
                if (newVal === true) {
                    this.form.data.description = this.description;
                }
            }
        },
        methods:{
            resetErrors() {
                this.form.errors = {};
            },
            close () {
                this.dialog = false;
                this.resetErrors();
                setTimeout(() => {
                    this.form.data.description = "";
                }, 300);
            },
            updateDescription() {
                this.resetErrors();
                this.form.submitting = true;
                axios.patch('/work-items/' + this.workItemId,
                    this.form.data
                )
                    .then(response => {
                        this.form.submitting = false;
                        if (response.status === 200) {
                            this.dialog = false;
                            this.$emit('descriptionUpdated',response.data);
                        }
                    })
                    .catch(e => {
                        console.log(e);
                        this.form.submitting = false;
                        this.form.errors = e.response.data.errors;
                        if (e.response) {
                        }
                    })
            },
        },
    }

</script>
