<template>
    <div class="create-customer-form">

        <v-dialog
            max-width="800px"
            :attach="formType === 'add' ? '#create-customer' : ''"
            v-model="dialog"
        >

            <template v-slot:activator="{ on }">
                <v-btn
                    color="primary"
                    outlined
                    v-on="on"
                >
                    {{dialogButton}}
                </v-btn>
            </template>

            <v-card>
                <v-toolbar dark color="primary">
                    <v-toolbar-title>{{dialogTitle}}</v-toolbar-title>
                    <div class="flex-grow-1"></div>
                    <v-toolbar-items>

                        <v-btn icon dark @click="close">
                            <v-icon>mdi-close</v-icon>
                        </v-btn>
                    </v-toolbar-items>
                </v-toolbar>

                <v-card-text>

                    <div id="newCustomerFormWrapper" v-if="formType">

                        <!-- Customer Type Chooser -->
                        <div class="row mb-4" v-if="formType==='add'">
                            <div class="col-12">
                                <v-select
                                    v-model="form.customerType"
                                    :items="['Individual','Company']"
                                    label="Choose A Customer Type"
                                    outlined
                                    hide-details
                                ></v-select>
                            </div>
                        </div>

                        <!-- Exiting Company Autocomplete / Add Button -->
                        <div class="row" v-if="formType==='add' && customerType === 'Company'">
                            <div class="col-12">
                                <div class="form-group ui-widget">
                                    <company-auto-complete
                                        @selected="setCompany">
                                    </company-auto-complete>

                                    <company-add
                                    @created="handleCompanyCreated">
                                    </company-add>
                                </div>
                            </div>
                        </div>

                        <!-- Http Helper Create / Update -->
                        <http-helper
                            :action="http.action"
                            :url="http.url"
                            :data="form.data"
                            :reset-state = "http.resetState"
                            @updated = handleHttpUpdated
                            @created = handleHttpCreated
                            @failed = handleHttpFailed
                            @statereset = handleHttpStateReset
                        >
                        </http-helper>

                        <!-- Display Company Data If Applicable -->
                        <div class="row" v-if="currentCompany">
                            <div class="col-6">
                                <div class="card border-0" >
                                    <div class="card-body">
                                        <h4>{{ currentCompany.name }}</h4>
                                        {{ currentCompany.address }} <br />
                                        {{ currentCompany.telephone }} <br />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" v-if="customerType">
                            <div class="col-sm-12">
                                <div class="card border-0">
                                    <!-- Form Fields Header -->
                                    <div class="card-header alt">
                                        <span class="header-text">
                                            {{formType === 'edit' ? 'Edit' : 'Add'}}
                                            {{customerType === 'Company' ? 'Company Contact' : 'Individual'}}

                                        </span>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <v-text-field
                                                    label="First Name"
                                                    autocomplete="disable"
                                                    v-model="form.data.first_name"
                                                ></v-text-field>
                                            </div>
                                            <div class="col">
                                                <v-text-field
                                                    label="Last Name"
                                                    autocomplete="disable"
                                                    v-model="form.data.last_name"
                                                ></v-text-field>
                                            </div>
                                        </div>

                                        <v-textarea
                                            label="Address"
                                            v-model="form.data.address"
                                            v-if="customerType === 'Individual'"
                                            autocomplete="disable"
                                        ></v-textarea>

                                        <v-text-field
                                            label="Email"
                                            autocomplete="disable"
                                            v-model="form.data.email"
                                        ></v-text-field>

                                        <div class="row">
                                            <div class="col"
                                                 v-if="customerType === 'Individual'"
                                            >
                                                <v-text-field
                                                    label="Home Phone"
                                                    autocomplete="disable"
                                                    v-model="form.data.home_telephone"
                                                ></v-text-field>
                                            </div>
                                            <div class="col">
                                                <v-text-field
                                                    label="Work Phone"
                                                    autocomplete="disable"
                                                    v-model="form.data.work_telephone"
                                                ></v-text-field>
                                            </div>
                                            <div class="col">
                                                <v-text-field
                                                    label="Mobile Phone"
                                                    autocomplete="disable"
                                                    v-model="form.data.mobile_telephone"
                                                ></v-text-field>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <!-- /.col-->
                        </div>
                    </div>
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                    <div class="flex-grow-1"></div>
                    <v-btn
                        color="secondary"
                        text
                        @click="close"
                    >
                        Cancel
                    </v-btn>
                    <v-btn
                        v-if="formType==='add'"
                        color="primary"
                        text
                        @click="httpCreate"
                        :disabled="!customerType"
                    >
                        Create
                    </v-btn>
                    <v-btn
                        v-if="formType==='edit'"
                        color="primary"
                        text
                        @click="httpPatch"
                        :disabled="!customerType"
                    >
                        Update
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>



    </div>

</template>

<script>

    import {HttpMixin} from "../Common/Mixins/HttpMixin";
    import CompanyAdd from "../Companies/CompanyAdd";
    import CompanyAutoComplete from "../Companies/CompanyAutoComplete";

    function getNewCompanyDefault() {
        return {
            name:"",
            address: "",
            telephone: "",
        }
    }
    function getNewCustomerFormDefault() {
        return {
            customerType: null,
            submitting: false,
            company: {},
            data: {
                company_id: null,
                first_name: "",
                last_name: "",
                address: null,
                email: null,
                home_telephone: null,
                work_telephone: null,
                mobile_telephone: null,
            },
        };
    }

    export default {
        components: {CompanyAutoComplete, CompanyAdd},
        mixins: [HttpMixin],
        props: {
            customer: null,
        },
        data: function () {
            return {
                dialog: false,
                form: getNewCustomerFormDefault()
            };
        },
        created() {
            this.http.url = "/customers"
        },
        mounted() {
            this.resetFormData();
        },
        computed: {
            dialogTitle() {
                return this.customer ? 'Edit Customer' : 'Add Customer';
            },
            dialogButton() {
                return this.customer ? 'Edit' : 'Add New Customer';
            },
            formType() {
                return this.customer ? 'edit' : 'add';
            },
            customerType() {
                if (this.customer) {
                    return this.customer.company ? 'Company' : 'Individual';
                }
                return this.form.customerType;
            },
            currentCompany() {
                if (this.form.company.id) {
                    return this.form.company;
                }
                if (this.customer && this.customer.company) {
                    return this.customer.company.data;
                }

                return null;
            }
        },
        watch: {
            'form.customerType': function(val,oldval){
                this.resetHttpState();
                if(val === 'Individual') {
                    this.resetFormData();
                } else {
                    this.resetFormData();
                    this.form.data.company_id = -1;
                }
            },
            customer: function(customer) {
                this.resetFormData();
            },
            dialog: function(open) {
                if (open) {
                    this.resetFormData();
                }
            }
        },
        methods:{

            handleHttpCreated(data) {
                this.resetHttpAction();
                this.$emit('created',data);
                this.close();
            },
            handleHttpUpdated(data) {
                this.resetHttpAction();
                this.$emit('updated',data);
                this.close();
            },
            handleHttpFailed() {
                this.resetHttpAction();
            },
            close() {
                this.resetHttpState();
                this.resetForm();
                this.dialog = false;
            },

            resetFormData() {

                this.form.data = Object.assign({}, getNewCustomerFormDefault().data);

                if (this.customer) {
                    this.form.data.first_name = this.customer.first_name;
                    this.form.data.last_name = this.customer.last_name;
                    this.form.data.address = this.customer.address;
                    this.form.data.email = this.customer.email;
                    this.form.data.home_telephone = this.customer.home_telephone;
                    this.form.data.work_telephone = this.customer.work_telephone;
                    this.form.data.mobile_telephone = this.customer.mobile_telephone;
                    this.http.url = "/customers/" + this.customer.id;
                } else {
                    this.http.url = "/customers";
                }
            },

            resetForm() {
                this.form = Object.assign({}, getNewCustomerFormDefault());
            },

            resetCompany() {
                this.resetErrors();
                this.form.company = {};
                this.form.data.company_id = null;
                this.form.company = getNewCompanyDefault();
            },
            handleCompanyCreated(company) {
                this.setCompany(company.data);
            },
            setCompany(company) {
                this.form.company = company;
                this.form.data.company_id = company.id;
            },
            showCompanyForm() {
                this.resetCompany();
            },
            resetCustomer() {
                this.form.data = {};
                this.resetCompany();
            },
        },
    }
</script>
