<template>
    <div class="customer-show">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header alt">
                        <span class="header-text"><i class="fa fa-align-justify"></i> Customer</span>
                    </div>
                    <div class="card-body">
                        <div class="customer" v-if="internal.customer.id">
                            <h2>{{internal.customer.full_name}}</h2>
                            <div class="row">
                                <div class="col">
                                    <p><strong>Address:</strong> {{internal.customer.address}}</p>
                                    <p><strong>Work:</strong> {{internal.customer.work_telephone ? internal.customer.work_telephone : 'None'}}</p>
                                    <p><strong>Mobile:</strong> {{internal.customer.mobile_telephone ? internal.customer.mobile_telephone : 'None'}}</p>
                                    <p><strong>Home:</strong> {{internal.customer.home_telephone ? internal.customer.home_telephone : 'None'}}</p>
                                </div>
                            </div>
                            <create-customer-form
                            :customer="internal.customer"
                            @updated="handleCustomerUpdated"
                            >
                            </create-customer-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header alt">
                        <span class="header-text"><i class="fa fa-align-justify"></i> Devices</span>
                    </div>
                    <div class="card-body">
                        <div class="customer row" v-if="internal.customer">
                            <div class="col-4 mb-2" v-for="device in internal.customer.devices.data">
                                <div class="card h-100">
                                    <div class="card-body">
                                        {{device.name}}<br />
                                        <a :href="'/devices/' + device.id">{{device.serial}}</a>
                                        <warranty-link
                                        :device="device"
                                        >
                                        </warranty-link>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import {UtilityMixin} from "../Common/Mixins/UtilityMixin";
    import WarrantyLink from "../Common/WarrantyLink";

    export default {
        components: {WarrantyLink},
        mixins: [UtilityMixin],
        props: {
            customer: null,
        },
        data: function () {
            return {
                internal: {
                    customer: {

                    }
                },
            }
        },
        computed: {
        },
        watch: {
          customer: function(customer) {
              this.setInternalCustomer(customer);
          },
        },
        created() {
            this.setInternalCustomer(this.customer);
        },
        methods: {
            handleCustomerUpdated(customer) {
                this.setInternalCustomer(customer.data);
            },
            setInternalCustomer(customer) {
                if (customer) {
                    this.internal.customer = Object.assign({}, customer);
                }
            }
        },
    }
</script>
