
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~jquery-ui/themes/base/all.css';

@import '~@coreui/coreui/dist/css/coreui.min.css';

@import 'styles';
@import '~vuetify/dist/vuetify.min.css';
@import '~@mdi/font/css/materialdesignicons.min.css';

@import '~vue2-daterange-picker/dist/lib/vue-daterange-picker.min.css';



.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#create-customer > .v-dialog__content.v-dialog__content--active {
    z-index: 2000 !important;
}


$animation-duration: 0.4s;

@mixin label-active() {
    font-size: 0.75rem;
    transform: translateY(-14px);
}
