a:not(.md-button) {
    text-decoration: inherit !important;
}

input {
    caret-color: auto !important;
}

.card-header.alt {
    background:transparent;
}

.card-header.alt .header-text {
    font-size: 24px;
    color: #CCC;
    font-weight: bolder;
}

