<template>
    <v-dialog v-model="dialog" max-width="500px">
        <template v-slot:activator="{ on }">
            <v-btn
                v-on="on"
                v-if="!company"
                mb-1
                   block
                   text
                   dark color="primary">
                <v-icon dark>add</v-icon> Create New Company
            </v-btn>

            <v-btn
                v-on="on"
                v-else
                mb-1
                outlined
                dark color="primary">
                <v-icon small>edit</v-icon> Edit
            </v-btn>

         </template>
        <v-card>
            <v-card-title>
                <span class="headline">Create New Company</span>
            </v-card-title>

            <v-card-text>

                <http-helper
                    :action="http.action"
                    :url="http.url"
                    :data="form.data"
                    :reset-state = "http.resetState"
                    @updated = handleHttpUpdated
                    @created = handleHttpCreated
                    @failed = handleHttpFailed
                    @statereset = handleHttpStateReset
                >
                </http-helper>

                <v-container grid-list-md>
                    <v-layout>
                        <v-flex>
                            <v-text-field
                                label="Name"
                                v-model="form.data.name"
                                browswer-autocomplete="disabled"
                            ></v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-layout>
                        <v-flex>
                            <v-textarea
                                label="Address"
                                v-model="form.data.address"
                                autocomplete="disable"
                            ></v-textarea>
                        </v-flex>
                    </v-layout>
                    <v-layout>
                        <v-flex>
                            <v-text-field
                                label="Telephone"
                                v-model="form.data.telephone"
                                browswer-autocomplete="disabled"
                            ></v-text-field>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                <v-btn v-if="company" color="blue darken-1" :disabed="submitting" text @click="httpPatch">Update</v-btn>
                <v-btn v-else color="blue darken-1" :disabed="submitting" text @click="httpCreate">Save</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>

    import {HttpMixin} from "../Common/Mixins/HttpMixin";

    export default {
        mixins: [HttpMixin],
        props: {
            company: null
        },
        data: function () {
            return {
                dialog: false,
                form: {
                    data:{
                        name: null,
                        address: null,
                        telephone: null,
                    },
                },
                availableComponents: []
            }
        },
        created() {
            this.http.url = "/companies";
        },
        watch: {
        },
        mounted() {
            this.resetForm();
        },
        methods:{

            handleHttpCreated(data) {
                this.resetHttpAction();
                this.$emit('created',data);
                this.close();
            },
            handleHttpUpdated(data) {
                this.resetHttpAction();
                this.$emit('updated',data);
                this.close();
            },
            handleHttpFailed() {
                this.resetHttpAction();
            },
            resetForm() {
                if (this.company) {
                    this.form.data.name = this.company.name;
                    this.form.data.address = this.company.address;
                    this.form.data.telephone = this.company.telephone;
                    this.http.url = "/companies/" + this.company.id;
                } else {
                    this.form.data.name = null;
                    this.form.data.address = null;
                    this.form.data.telephone = null;
                    this.http.url = "/companies";
                }
            },
            close () {
                this.dialog = false;
                setTimeout(() => {
                    this.resetHttpState();
                    this.resetForm();
                }, 300);
            },
        },
    };
</script>
