<template>
    <div class="company-show">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header alt">
                        <i class="fa fa-align-justify"></i> Company
                    </div>
                    <div class="card-body">
                        <div class="company" v-if="company.id">
                            <h2>{{company.name}}</h2>
                            <div class="row">
                                <div class="col">
                                    <p><strong>Address:</strong> {{company.address}}</p>
                                    <p><strong>Phone:</strong> {{company.telephone}}</p>
                                </div>
                            </div>
                            <company-add
                            :company="company"
                            @updated="handleCompanyUpdated"
                            >

                            </company-add>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header alt">
                        <i class="fa fa-align-justify"></i> Contacts
                    </div>
                    <div class="card-body">
                        <div class="contacts row" v-if="company.id">
                            <div class="col-4" v-for="contact in company.contacts.data">
                                <a :href="'/customers/' + contact.id">{{contact.name}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header alt">
                        <i class="fa fa-align-justify"></i> Devices
                    </div>
                    <div class="card-body">
                        <div class="contacts row" v-if="company.id">
                            <div class="col-4 mb-2" v-for="device in company.devices.data">
                                <div class="card h-100">
                                    <div class="card-body">
                                        {{device.name}}<br />
                                        <a :href="'/devices/' + device.id">{{device.serial}}</a><br />
                                        <warranty-link
                                            :device = "device"
                                        ></warranty-link>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import {UtilityMixin} from "../Common/Mixins/UtilityMixin";
    import WarrantyLink from "../Common/WarrantyLink";
    import CompanyAdd from "./CompanyAdd";

    export default {
        components: {CompanyAdd, WarrantyLink},
        mixins: [UtilityMixin],
        props: {
            companyId: null,
            currentUser: null,
        },
        data: function () {
            return {
                company: {},
            }
        },
        computed: {
        },
        created() {
        },
        mounted() {
          this.fetchCompany();
        },
        methods: {
            handleCompanyUpdated(company) {
                this.company = Object.assign({}, this.company, company.data);
            },
            fetchCompany() {
                axios.get('/companies/' + this.companyId)
                    .then(response => {
                        this.handleCompanyUpdated(response.data);
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
        },
    }
</script>
