<template>
    <div class="company-autocomplete">
        <v-autocomplete
            v-model="select"
            :loading="loading"
            :items="items"
            item-text="name"
            item-value="id"
            :search-input.sync="search"
            :filter="() => {return true;}"
            full-width
            clearable
            flat
            dense
            filled
            hide-selected
            hide-no-data
            label="Search For Existing Company"
            :return-object="true"
            autocomplete="disable"
        >
            <template v-slot:item="data">
                <template v-if="typeof data.item !== 'object'">
                    <v-list-item-content v-text="data.item"></v-list-item-content>
                </template>
                <template v-else>
                    <v-list-item-content>
                        <v-list-item-title v-html="data.item.name"></v-list-item-title>
                        <v-list-item-subtitle v-html="data.item.address"></v-list-item-subtitle>
                    </v-list-item-content>
                </template>
            </template>
        </v-autocomplete>
    </div>
</template>

<script>

    export default {
        data: function () {
            return {
                loading: false,
                items: [],
                search: null,
                select: null,
            }
        },
        watch: {
            search (val) {
                val && val !== this.select && this.querySelections(val)
            },
            select (val) {
                this.$emit('selected',val);
                this.items = [];
            }
        },
        methods: {
            querySelections (v) {
                return this.getCompaniesDebounce(v);
            },

            getCompaniesDebounce: _.debounce(function (term) {
                return this.getCompanies(term);
            }, 500),

            getCompanies(term) {
                this.loading = true;
                axios.get('/companies', {params: {term: term}})
                    .then(response => {
                        this.loading = false;
                        if (response.status === 200) {
                            this.items = response.data.data;
                        }
                    })
                    .catch(e => {
                        this.loading = false;
                    })
            },
        },
    }
</script>
