<template>
    <div class="company-contact-show">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header alt">
                        <i class="fa fa-align-justify"></i> Contact
                    </div>
                    <div class="card-body">
                        <div class="company" v-if="internal.contact.id">
                            <h2>{{internal.contact.name}}</h2>
                            <div class="row">
                                <div class="col">
                                    <p><strong>Company:</strong> <a :href="'/companies/' + internal.contact.company.data.id">{{internal.contact.company.data.name}}</a></p>
                                    <p><strong>Address:</strong> {{internal.contact.company.data.address}}</p>
                                    <p><strong>Email:</strong> {{internal.contact.email ? internal.contact.email : 'None'}}</p>
                                    <p><strong>Work:</strong> {{internal.contact.work_telephone ? internal.contact.work_telephone : 'None'}}</p>
                                    <p><strong>Mobile:</strong> {{internal.contact.mobile_telephone ? internal.contact.mobile_telephone : 'None'}}</p>
                                    <create-customer-form
                                        :customer="internal.contact"
                                        @updated="handleContactUpdated"
                                    >

                                    </create-customer-form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        props: {
            contact: {},
        },
        data: function () {
            return {
                internal: {
                    contact: null,
                }
            }
        },
        computed: {
        },
        watch: {
            contact: function(contact) {
                this.setInternalContact(contact);
            },
        },
        created() {
            this.setInternalContact(this.contact);
        },
        methods: {
            handleContactUpdated(contact) {
                this.setInternalContact(contact.data);
            },
            setInternalContact(contact) {
                if (contact) {
                    this.internal.contact = Object.assign({}, contact);
                }
            }
        },
    }
</script>
