<template>
    <div class="device-autocomplete">
        <div v-if="customerId">
            <v-text-field
                v-model="table.search"
                append-icon="search"
                label="Search Customer Devices"
                single-line
                hide-details
            ></v-text-field>
            <v-data-table
                :headers="table.headers"
                :items="table.items"
                :search="table.search"
                :items-per-page = 5
                hide-default-header
                :loading="loading"
            >
                <template v-slot:item.name="{ item }">
                    {{ item.name }}
                    <div>
                        <small>{{ item.serial }}</small>
                    </div>
                </template>
                <template v-slot:item.serial="{ item }">
                    <small v-show="false">{{ item.serial }}</small>
                </template>
                <template v-slot:item.action="{ item }">
                    <v-icon
                        @click="selectDevice(item)"
                    >
                        add_circle_outline
                    </v-icon>
                </template>
            </v-data-table>
        </div>
    </div>
</template>

<script>

    export default {
        props: {
            customerId: null,
        },
        data: function () {
            return {
                loading: false,
                search: null,
                pageSize: 1000,
                table: {
                    items: [],
                    search: null,
                    headers: [
                        {
                            text: 'Device Name',
                            align: 'left',
                            sortable: false,
                            value: 'name',
                        },
                        {text: 'Serial', value:'serial', class:"d-none"},
                        {text: 'A', value:'action', align:'right'}
                    ],
                },
            }
        },
        mounted() {
            this.getDevices();
        },
        watch: {
            customerId(val) {
                if (val) {
                    this.getDevices();
                }
            }
        },
        methods: {
            selectDevice(device) {
                this.$emit('selected',device);
            },
            getDevices() {
                this.loading = true;
                axios.get('/devices', {
                    params: {
                        term: null,
                        page_size: this.pageSize,
                        customer_id: this.customerId,
                    }
                })
                    .then(response => {
                        this.loading = false;
                        if (response.status === 200) {
                            this.table.items = response.data.data;
                        }
                    })
                    .catch(e => {
                        this.loading = false;
                    })
            },
        },
    }
</script>
