<template>
    <div>
        <v-data-table
            :headers="headers"
            :items="deviceTypes"
            sort-by="name"
            class="elevation-1"
            width="400px"
        >
            <template v-slot:top>
                <v-toolbar flat color="white">
                    <v-toolbar-title>Device Types</v-toolbar-title>
                    <v-divider
                        class="mx-4"
                        inset
                        vertical
                    ></v-divider>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" dark class="mb-2" @click="newItem">New</v-btn>
                </v-toolbar>
            </template>
            <template v-slot:item.action="{ item }">
                <v-icon
                    small
                    class="mr-2"
                    @click="editItem(item)"
                >
                    edit
                </v-icon>
            </template>
            <template v-slot:no-data>
                No Data
            </template>
        </v-data-table>

        <v-dialog v-model="dialog" max-width="500px">
            <v-card>
                <v-card-title>
                    <span class="headline">{{ formTitle }}</span>
                </v-card-title>

                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-col>
                                <errors
                                :errors="errors"
                                :submitting="isSubmitting"
                                >

                                </errors>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12" sm="12" md="12">
                                <v-text-field v-model="editedItem.name" label="Device Type"></v-text-field>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                    <v-btn color="blue darken-1" text @click="save">Save</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

    </div>
</template>


<script>
    export default {
        name: 'DeviceTypes',
        data: () => ({
            dialog: false,
            errors: {},
            isSubmitting: false,
            headers: [
                {
                    text: 'Name',
                    align: 'left',
                    value: 'name',
                },
                { text: 'Actions', value: 'action', sortable: false, align: 'right' },
            ],
            deviceTypes: [],
            editedItem: {
                id: null,
                name: '',
            },
            defaultItem: {
                id: null,
                name: '',
            },
        }),

        computed: {
            formTitle () {
                return this.editedIndex === -1 ? 'New Device Type' : 'Edit Device Type'
            },
        },

        watch: {
            dialog (val) {
                val || this.close()
            },
        },

        created () {
            this.getDeviceTypes()
        },

        methods: {
            getDeviceTypes () {
                axios.get('/device-types')
                    .then(response => {
                        if (response.status === 200) {
                            this.deviceTypes = response.data.data;
                        }
                    }).catch(e => {

                })
            },
            newItem() {
                this.editedItem = Object.assign({}, this.defaultItem);
                this.dialog = true;
            },
            editItem (item) {
                this.editedItem = Object.assign({}, item)
                this.dialog = true
            },

            deleteItem (item) {
                axios.post('/device-types/' + item.id, {_method:'delete'})
                    .then(response => {
                        if (response.status === 204) {
                            this.getDeviceTypes();
                        }
                    }).catch(e => {
                    this.setErrors(e)
                })
            },

            close () {
                this.dialog = false
                this.errors = {}
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                }, 300)
            },

            save () {
                this.isSubmitting = true
                this.errors = {}

                if (this.editedItem.id) {
                    axios.patch('/device-types/' + this.editedItem.id, this.editedItem)
                        .then(response => {
                            if (response.status === 200) {
                                this.getDeviceTypes();
                                this.close()
                                this.isSubmitting = false
                            }
                        }).catch(e => {
                        this.setErrors(e)
                    })
                } else {
                    axios.post('/device-types', this.editedItem)
                        .then(response => {
                            if (response.status === 201) {
                                this.getDeviceTypes();
                                this.close()
                                this.isSubmitting = false
                            }
                        }).catch(e => {
                            this.setErrors(e)
                    })
                }
            },
            setErrors(e) {
                this.isSubmitting = false
                let validationErrors = _.get(e,['response','data','errors']);
                if (validationErrors) {
                    this.errors = validationErrors;
                }
            },
        },
    }
</script>
