<template>
    <div class="modal fade" :id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
        <div class="modal-dialog modal-xl modal-primary" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Device</h4>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="newDeviceFormWrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card border-0">

                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <http-helper
                                                    :action="http.action"
                                                    :url="http.url"
                                                    :data="form.data.device"
                                                    :resetState="http.resetState"
                                                    @created = handleHttpCreated
                                                    @failed = handleHttpFailed
                                                ></http-helper>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <v-select
                                                        v-model="form.data.device.device_type_id"
                                                        :items='deviceTypes'
                                                        item-text="name"
                                                        item-value="id"
                                                        label="Device Type"
                                                        :return-object="false"
                                                    ></v-select>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <v-combobox
                                                        v-model="form.data.device.manufacturer"
                                                        :items='manufacturers'
                                                        item-text="manufacturer"
                                                        item-value="manufacturer"
                                                        label="Manufacturer"
                                                        :return-object="false"
                                                        autocomplete="disable"
                                                    ></v-combobox>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <v-combobox
                                                        v-model="form.data.device.model"
                                                        :items='models'
                                                        item-text="model"
                                                        item-value="model"
                                                        label="Model"
                                                        :return-object="false"
                                                        autocomplete="disable"
                                                    ></v-combobox>
                                                </div>
                                            </div>
                                        </div>

                                        <v-text-field
                                            label="Serial"
                                            class="disabe-autocomplete"
                                            v-model="form.data.device.serial"
                                        ></v-text-field>

                                        <v-text-field
                                            label="Password"
                                            class="disabe-autocomplete"
                                            v-model="form.data.device.password"
                                        ></v-text-field>
                                    </div>

                                </div>
                            </div>
                            <!-- /.col-->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger float-right" type="button" @click="reset()">
                        <i class="fa fa-ban"></i> Reset
                    </button>
                    <button class="btn btn-primary" type="button" @click="httpCreate" :disabled="submitting">Save changes</button>
                </div>
            </div>

        </div>
    </div>
</template>


<script>
    import {HttpMixin} from "../Common/Mixins/HttpMixin";

    function defaultData() {
        return {
            form: {
                data: {
                    device: {
                        manufacturer: "",
                        device_type_id: null,
                        model: "",
                        serial: "",
                        password: null,
                    }
                }
            }
        }
    }
    export default {
        mixins: [HttpMixin],
        props: {
            deviceTypes: {type: Array, default: () => []},
            modal: String,
            url: String,
            models: {type: Array, default: () => []},
            manufacturers: {type: Array, default: () => []},
        },

        data: function () {
            return defaultData();
        },
        created() {
            this.http.url = this.url;
        },
        watch: {
        },
        methods:{
            resetForm() {
                  Object.assign(this.$data, defaultData())
            },

            handleHttpCreated(data) {
                this.resetHttpAction();
                this.$emit('created',data);
                this.close();
            },
            handleHttpFailed() {
                this.resetHttpAction();
            },
            close () {
                $('#' + this.modal).modal('hide');
                setTimeout(() => {
                    this.resetHttpState();
                    this.resetForm();
                }, 300);
            },
        },
    }

</script>
