<template>
    <div class="device-show">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header alt">
                        <span class="header-text"><i class="fa fa-align-justify"></i> Device</span>
                    </div>
                    <div class="card-body">
                        <div class="device" v-if="device">
                            <h2>{{device.data.name}}</h2>
                            <div class="row">
                                <div class="col">
                                    <p>
                                        <strong>Serial:</strong>
                                        {{device.data.serial}}
                                        <warranty-link
                                            :device = "device.data"
                                        ></warranty-link>
                                    </p>
                                    <p><strong>Password:</strong> {{device.data.password ? device.data.password : 'No Password'}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header alt">
                        <span class="header-text"><i class="fa fa-align-justify"></i> Repair History</span>
                    </div>
                    <div class="card-body">
                        <div class="customer row" v-if="device">
                            <div class="col-4 mb-2" v-for="workItem in device.data.workItems.data">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <a :href="'/work-items/' + workItem.id">SR#: {{workItem.id}}</a><br />
                                        {{workItem.description}}<br />
                                        <small class="text-muted">{{workItem.created_at | formatDate}}</small>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import WarrantyLink from "../Common/WarrantyLink";
    export default {
        components: {WarrantyLink},
        props: {
            device: null,
            currentUser: null,
        },
        data: function () {
            return {
            }
        },
        computed: {
        },
        created() {
        },
        methods: {
        },
    }
</script>
