<template>
    <div class="device-autocomplete">
        <v-autocomplete
            v-model="select"
            :loading="loading"
            :items="items"
            item-text="name"
            item-value="id"
            :search-input.sync="search"
            :filter="() => {return true;}"
            full-width
            clearable
            flat
            dense
            filled
            hide-selected
            hide-no-data
            label="Select A Device"
            :return-object="true"
        >
            <template v-slot:item="data">
                <template v-if="typeof data.item !== 'object'">
                    <v-list-item-content v-text="data.item"></v-list-item-content>
                </template>
                <template v-else>
                    <v-list-item-content>
                        <v-list-item-title v-html="data.item.name"></v-list-item-title>
                        <v-list-item-subtitle v-html="data.item.serial"></v-list-item-subtitle>
                    </v-list-item-content>
                </template>
            </template>
        </v-autocomplete>
    </div>
</template>

<script>

    export default {
        props: {
            pageSize: {
                default: 10
            },
        },
        data: function () {
            return {
                loading: false,
                items: [],
                search: null,
                select: null,
            }
        },
        created() {
        },
        watch: {
            search (val) {
                val && val !== this.select && this.querySelections(val)
            },
            select (val) {
                this.$emit('selected',val);
                this.items = [];
            },
        },
        methods: {
            querySelections (v) {
                return this.getDevices(v);
            },
            getDevices(term) {
                this.loading = true;
                axios.get('/devices', {
                    params: {
                        term: term,
                        page_size: this.pageSize,
                    }
                })
                    .then(response => {
                        this.loading = false;
                        if (response.status === 200) {
                            this.items = response.data.data;
                        }
                    })
                    .catch(e => {
                        this.loading = false;
                    })
            },
        },
    }
</script>
