<template>
    <input :id="autocomplete.input" :placeholder="autocomplete.placeholder" type='text' class="form-control">
</template>

<script>
    export default {
        props: {
            url: String,
            input: String,
            placeholder: String,
            template: String,
            modal: String
        },
        data: function () {
            return {
                autocomplete: {
                    url: this.url,
                    input: this.input,
                    placeholder: this.placeholder,
                    template: this.template,
                    modal: this.modal
                }
            }
        },
        watch: {
        },
        mounted() {
            this.initAutoComplete();
            },
        methods:{
            reset() {
            },
            initAutoComplete()
            {
                this.jqueryAutoComplete(
                    this.autocomplete.url,
                    this.autocomplete.input,
                    this.autocomplete.template,
                    this.autocomplete.modal,
                    this.selected
                );

            },
            jqueryAutoComplete(url, input, template, modal, selected) {
                 $( "#" + input ).autocomplete({
                        source: url,
                        minLength: 0,
                        select: function( event, ui ) {
                            selected(ui.item);
                            //app.setDevice(ui.item);
                            $(this).blur();
                        },
                        open: function(e, ui) {
                            if (modal) {
                                // Appends a div at the end, containing the link to open myModal
                                let html = "";
                                html += "<button class='btn btn-outline-primary m-2 float-right' href='#' data-toggle='modal' data-target='#' + modal>Add New</button>"
                                $('.ui-autocomplete').append(html);
                            }
                        }
                    }).autocomplete( "instance" )._renderItem = function( ul, item ) {
                        let placeHolders = template.match(/%{2}([^%]+)%{2}/g);
                        let attributeParts = [];
                        let attributes = {};
                        let hydratedTemplate = template;

                        $.each(placeHolders, function(index,value){
                            attributeParts.push(value.replace(/%/g,'').split('|'));
                        });

                        $.each(attributeParts, function(index,parts){
                            let attName = parts.join('|');
                            for (let i = 0; i < parts.length; i++) {
                                if (attributes[attName]) {
                                    attributes[attName] = attributes[attName][parts[i]];
                                } else {
                                    attributes[attName] = item[parts[i]];
                                }
                            }
                        });
                        $.each(attributes,function(attribute,value) {
                            hydratedTemplate = hydratedTemplate.replace("%%" + attribute + "%%", value ? value : "N/A");
                        });

                        let html = "<div>" + hydratedTemplate + "</div>";
                        return $( "<li>" )
                            .append(html)
                            .appendTo( ul );
                    };

                    $( "#" + input ).on('focus',function(){$(this).autocomplete( "search", "" )});
                },
            selected(value) {
                this.$emit('selected',value);
            },
        },
    };
</script>
