<template>
    <div class="mdc-text-field mdc-text-field--outlined">
        <input type="text" :id="textbox.id"
               :value="value"
               @input="$emit('input', $event.target.value)"
               class="mdc-text-field__input">
        <div class="mdc-notched-outline">
            <div class="mdc-notched-outline__leading"></div>
            <div class="mdc-notched-outline__notch">
                <label :for="textbox.id" class="mdc-floating-label">{{textbox.label}}</label>
            </div>
            <div class="mdc-notched-outline__trailing"></div>
        </div>
    </div>
</template>


<script>
    export default {
        props: {
            id:"",
            label: "",
            value: "",

        },
        data: function () {
            return {
                textbox: {
                    id: this.id,
                    label:this.label,
                },
            }
        },
        watch: {
        },
        mounted() {
            },
        methods:{
        },
    };
</script>
