<template>
    <div class="form-group">
        <label :for="input">{{placeholder}}</label>
        <input
            :id="input"
            :placeholder="placeholder"
            :value="value"
            @input="$emit('input', $event.target.value)"
            type='text'
            class="form-control">
    </div>

</template>

<script>
    export default {
        props: {
            input: String,
            placeholder: String,
            source: {type:Array, default: () => []},
            value: String
        },
        data: function () {
            return {
            }
        },
        watch: {
        },
        mounted() {
            this.initAutoComplete();
            },
        methods:{
            reset() {

            },
            initAutoComplete()
            {
                console.log(this.source);
                console.log('what');
                return;
                this.jqueryAutoComplete(
                    this.source,
                    this.input,
                    this.setValue
                );
            },
            setValue(value) {
                this.$emit('input', value)
            },
            jqueryAutoComplete(source, input, setValue) {
                //comment
                    console.log(source);
                    $( "#" + input ).autocomplete({
                        source: source,
                        autoFocus:true,
                        minLength:0
                    }).focus(function () {
                        $(this).autocomplete('search')
                    });
                    $( "#" + input ).on('focus',function(){$(this).autocomplete( "search", "" )});
                $( "#" + input ).on( "autocompleteselect", function( event, ui ) {
                    setValue(ui.item.value);
                } );


            },
        },
    };
</script>
