<template>
    <ol class="list-group">
        <li class="list-group-item" v-for="billing in billingItems"
        :key="billing.id">
            <h5>{{billing.type}}</h5>
            <strong>Reference:</strong> {{billing.reference ? billing.reference : 'No Reference'}}<br />
            <strong>Notes:</strong> {{billing.notes ? billing.notes : "No notes"}}<br />
            <span class="text-muted"><strong>Created:</strong> {{billing.created_at}}</span>
        </li>
    </ol>
</template>

<script>

    function defaultData(el) {
        return {
            form: {
                errors: {},
                submitting: false,
                data: {
                    type: el.types[0],
                    reference: null,
                }
            }
        }
    }

    export default {
        props: {
            billingItems: {type: Array, default: () => []},
        },

        data: function () {
            return {

            };
        },
        watch: {
        },
        computed: {
        },
        methods:{
        },
    }

</script>
