<template>
    <v-dialog v-model="dialog" max-width="500px">
        <template v-slot:activator="{ on }">
            <v-btn v-on="on"
                   mb-1
                   block
                   flat
                   dark color="primary">
                <v-icon dark>add</v-icon> Update Billing
            </v-btn>
        </template>
        <v-card>
            <v-card-title>
                <span class="headline">Add Billing</span>
            </v-card-title>

            <v-card-text>
                <errors
                    :submitting = form.submitting
                    :errors = form.errors
                ></errors>

                <v-container grid-list-md>
                    <v-layout>
                        <v-flex>
                            <v-select
                                v-model="form.data.type"
                                :items="types"
                                label="Type"
                            ></v-select>
                        </v-flex>
                        <v-flex>
                            <v-text-field
                                v-model="form.data.reference"
                                label="Reference"
                            ></v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-layout>
                        <v-flex>
                            <v-textarea
                                label="Notes"
                                v-model="form.data.notes"
                                value=""
                            ></v-textarea>
                        </v-flex>
                    </v-layout>
                    <v-layout>
                        <v-flex>
                            <small class="muted">Changes by: {{currentUser ? currentUser.name : 'No User Found'}}</small>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
                <v-btn color="blue darken-1" :disabed="form.submitting" flat @click="update">Save</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        props: {
            currentUser: Object,
            workItem: Object,
        },
        data: function () {
            return {
                dialog: false,
                types: ['Invoice','Warranty','Support Contract','Freebie','No Charge','Other'],
                form: {
                    submitting: false,
                    errors: {},
                    data:{
                        notes: null,
                        type: null,
                        reference: null,
                        work_item_id: this.workItem.id
                    },
                },
                availableComponents: []
            }
        },
        watch: {
        },
        mounted() {
            this.reset();
        },
        computed: {
        },
        methods:{
            resetErrors() {
                this.form.errors = {};
            },
            reset() {
                this.form.data.notes = null;
                this.form.data.type = 'Invoice';
                this.form.data.reference = null;
            },
            close () {
                this.dialog = false;
                setTimeout(() => {
                    this.resetErrors();
                    this.reset();
                }, 300);
            },
            update() {
                this.form.submitting = true;
                this.form.errors = {};
                axios.post('/work-items/' + this.workItem.id + '/billings',
                    this.form.data
                )
                    .then(response => {
                        this.form.submitting = false;
                        if (response.status === 200) {
                            this.$emit('created',response.data);
                            this.close();
                        }
                    })
                    .catch(e => {
                        this.form.submitting = false;
                        this.form.errors = e.response.data.errors;
                        console.log(e);
                        if (e.response) {
                            console.log(e.response);
                        }
                        // this.errors.push(e)
                    })
            },
        },
    };
</script>
