<template>
    <v-dialog v-model="dialog" max-width="500px">
        <template v-slot:activator="{ on }">
            <v-btn v-on="on"
                   mb-1
                   block
                   text
                   dark color="primary">
                <v-icon dark>add</v-icon> Add Billing
            </v-btn>
        </template>
        <v-card>
            <v-card-title>
                <span class="headline">Add Billing</span>
            </v-card-title>

            <v-card-text>
                <http-helper
                    :action="http.action"
                    :url="http.url"
                    :data="form.data"
                    :resetState="http.resetState"
                    @created = handleHttpCreated
                    @failed = handleHttpFailed
                ></http-helper>

                <v-container grid-list-md>
                    <v-layout>
                        <v-flex>
                            <v-select
                                v-model="form.data.type"
                                :items="types"
                                label="Type"
                            ></v-select>
                        </v-flex>
                        <v-flex>
                            <v-text-field
                                v-model="form.data.reference"
                                label="Reference"
                            ></v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-layout>
                        <v-flex>
                            <v-textarea
                                label="Notes"
                                v-model="form.data.notes"
                                value=""
                            ></v-textarea>
                        </v-flex>
                    </v-layout>
                    <v-layout>
                        <v-flex>
                            <small class="muted">Changes by: {{currentUser ? currentUser.name : 'No User Found'}}</small>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                <v-btn color="blue darken-1" :disabed="submitting" text @click="httpCreate">Save</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import {HttpMixin} from "../Common/Mixins/HttpMixin";

    export default {
        mixins: [HttpMixin],
        props: {
            currentUser: Object,
            workItem: Object,
        },
        data: function () {
            return {
                dialog: false,
                types: ['Invoice','Warranty','Support Contract','Freebie','No Charge','Other'],
                form: {
                    data:{
                        notes: null,
                        type: null,
                        reference: null,
                        work_item_id: this.workItem.id
                    },
                },
                availableComponents: []
            }
        },
        created(){
            this.http.url = '/work-items/' + this.workItem.id + '/billings';
        },
        watch: {
        },
        mounted() {
            this.reset();
        },
        computed: {
        },
        methods:{
            handleHttpCreated(data) {
                this.resetHttpAction();
                this.$emit('created',data);
                this.close();
            },

            handleHttpFailed() {
                this.resetHttpAction();
            },

            reset() {
                this.form.data.notes = null;
                this.form.data.type = 'Invoice';
                this.form.data.reference = null;
            },

            close () {
                this.dialog = false;
                this.resetHttpState();
                setTimeout(() => {
                    this.reset();
                }, 300);
            },
        },
    };
</script>
