<template>
    <v-dialog v-model="dialog" max-width="800px">
        <template v-slot:activator="{ on }">
            <v-btn v-on="on"
                   mb-1
                   text
                   block
                   dark color="primary">
                <v-icon dark>add</v-icon> Add A Change
            </v-btn>
        </template>
        <v-card>
            <v-card-title>
                <span class="headline">Add A Change</span>
            </v-card-title>

            <v-card-text>
                <http-helper
                    :action="http.action"
                    :url="http.url"
                    :data="form.data"
                    :resetState="http.resetState"
                    @created = handleHttpCreated
                    @failed = handleHttpFailed
                ></http-helper>
                <v-container grid-list-md>
                    <v-layout wrap>
                        <v-flex xs12 sm6 md6>
                            <v-select
                                v-model="form.data.status_id"
                                :items="enums.statuses"
                                item-value="id"
                                item-text="name"
                                :return-object="false"
                                label="Status"
                            ></v-select>
                        </v-flex>
                        <v-flex xs12 sm6 md6>
                            <v-select
                                v-model="form.data.branch_id"
                                :items="enums.branches"
                                item-value="id"
                                item-text="name"
                                :return-object="false"
                                label="Branch"
                            ></v-select>
                        </v-flex>
                    </v-layout>
                    <v-layout>
                        <v-flex xs12 sm6 md6>
                            <v-select
                                v-model="form.hours"
                                :items="hours"
                                label="Hours"
                            ></v-select>
                        </v-flex>
                        <v-flex xs12 sm6 md6>
                            <v-select
                                v-model="form.minutes"
                                :items="minutes"
                                label="Minutes"
                            ></v-select>
                        </v-flex>
                    </v-layout>
                    <v-layout>
                        <v-flex xs12>
                            <v-textarea
                                label="Description"
                                v-model="form.data.description"
                                browswer-autocomplete="disabled"
                            ></v-textarea>
                        </v-flex>
                    </v-layout>
                    <v-layout>
                        <v-flex xs12>
                            <v-checkbox
                                v-model="form.data.customer_contacted"
                                label="Customer Contacted"
                            ></v-checkbox>
                        </v-flex>
                    </v-layout>
                    <v-layout>
                        <v-flex>
                            <small class="muted">Changes by: {{currentUser ? currentUser.name : 'No User Found'}}</small>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                <v-btn color="blue darken-1" :disabed="submitting" text @click="create">Save</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import {HttpMixin} from "../Common/Mixins/HttpMixin";

    export default {
        mixins: [HttpMixin],
        props: {
            enums: Object,
            currentUser: Object,
            workItem: Object,
            priorities: Array,
        },
        data: function () {
            return {
                dialog: false,
                hours: this.getTimes().hours,
                minutes: this.getTimes().minutes,
                form: {
                    hours:'00',
                    minutes:'00',
                    data:{
                        status_id: this.workItem ? this.workItem.status.id : "",
                        branch_id: this.workItem ? this.workItem.branch.id : "",
                    },
                },
                availableComponents: []
            }
        },
        created() {
          this.http.url = '/work-items/' + this.workItem.id + '/history';
        },
        watch: {
            computedTime(val) {
                this.form.data.time = val;
            }
        },
        mounted() {
            this.reset();
        },
        computed: {
            computedTime() {
                return (parseInt(this.form.hours) * 60) + parseInt(this.form.minutes);
            }
        },
        methods:{
            getTimes() {
                return {
                    hours: Array.from(Array(24),(x,index) => index < 10 ? "0" + index : index),
                    minutes: Array.from(Array(60),(x,index) => index < 10 ? "0" + index : index)
                }
            },
            reset() {
                this.form.hours = '00';
                this.form.minutes = '00';
                this.form.data = {};
                this.form.data = Object.assign({},this.form.data);
                this.form.data.time = 0;
                this.form.data.description = "";
                this.form.data.customer_contacted = false;
                this.form.data.assigned_to = this.currentUser ? this.currentUser.id : null;
                this.form.data.changed_by = this.currentUser ? this.currentUser.id : null;
                this.form.data.status_id = this.workItem ? this.workItem.status.id : "";
                this.form.data.branch_id = this.workItem ? this.workItem.branch.id : "";
                this.form.data.work_item_id = this.workItem ? this.workItem.id : null;
            },


            handleHttpCreated(data) {
                this.resetHttpAction();
                this.$emit('created',data);
                this.close();
            },
            handleHttpFailed() {
                this.resetHttpAction();
            },
            create() {
                this.http.action = 'create';
            },
            close () {
                this.dialog = false;
                this.reset();
                this.resetHttpState();
                setTimeout(() => {
                    this.reset();
                }, 300);
            },
        },
    };
</script>
