<template>
    <div class="mb-4">
        <div class="card" v-if="workItem">
            <div class="card-header bg-primary">
                Issue Description
                <div class="card-header-actions">
                    <small>{{workItem.created_at | formatDate}}</small>
                </div>
            </div>
            <div class="card-body">
                {{workItem.description}}
            </div>
        </div>
        <div v-for="entry in history" :key="entry.id">
            <div class="card" v-if="!entry.system_log">
                <div class="card-header">
                    {{entry.changed_by.data.name}} said...
                    <div class="card-header-actions">
                        <small>{{entry.created_at | formatDate}}</small>
                        <span class="badge badge-pill badge-light ml-2">{{entry.status.name}}</span>
                        <span v-if="entry.customer_contacted" class="badge badge-pill badge-primary ml-2">Customer Contacted</span>
                        <span class="badge badge-pill badge-success ml-2">{{ entry.time }} minutes</span>
                    </div>
                </div>
                <div class="card-body">
                    {{entry.description}}
                </div>
            </div>
            <div v-else>
                <div class="card">
                    <div class="card-header">
                        {{entry.description}}
                        <br />
                        <small>by {{entry.changed_by.data.name}} on {{entry.created_at | formatDate}}</small>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="history.length===0">
            <div class="card">
                <div class="card-header">
                    No Updates
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        props: {
            history: Array,
            workItem: null,
        },
        data: function () {
            return {
            }
        },
        mounted() {
        }
    }
</script>
