<template>
    <div>
        <errors
        :submitting = "submitting"
        :errors = "errors"
        ></errors>
    </div>
</template>

<script>
    export default {
        props: {
            action: {
                type: String,
                default: null
            },
            url: {
                type: String,
            },
            data: {
                type: Object,
                default: () => { return {}}
            },
            resetState: {
                type: Boolean,
                default: false,
            },
        },
        data: function () {
            return {
                submitting: false,
                errors: {},
            };
        },
        watch: {
            action: function (action){
                if (action === 'create') {
                    this.create();
                }
                if (action === 'patch') {
                    this.patch();
                }
            },
            resetState: function (resetState){
                if (resetState) {
                    this.handleResetState();
                }
            },
        },

        methods: {
            submitted() {
                this.submitting = true;
                this.errors = {};
            },
            responded() {
                this.submitting = false;
            },
            setErrors(e) {
                let validationErrors = _.get(e,['response','data','errors']);

                if (validationErrors) {
                    this.errors = validationErrors;
                    return true;
                }
                return false;
            },

            fail(e) {
                this.responded();
                this.setErrors(e);
                this.$emit('failed',e);
            },

            create() {
                this.submitted();
                axios.post(this.url,this.data)
                    .then(response => {
                        this.responded();
                        if (response.status === 201) {
                            this.$emit('created',response.data);
                        }
                    }).catch(e => {
                        this.fail(e);
                })
            },

            patch() {
                this.submitted();
                axios.patch(this.url,this.data)
                    .then(response => {
                        this.responded();
                        if (response.status === 200) {
                            this.$emit('updated',response.data);
                        }
                    }).catch(e => {
                    this.fail(e);
                })
            },

            handleResetState() {
              this.resetErrors();
              this.$emit('statereset');
            },

            resetErrors() {
                this.errors = {};
            }
        }
    }
</script>
