<template>
    <button
        :disabled="disabled"
        class='btn btn-primary'
        data-toggle='modal'
        :data-target='"#" + target'><slot>Open Modal</slot></button>
</template>
<script>
    export default {
        props: {
            target:
                {
                    type: String,
                    required: true,
                },
            disabled: {
                type: Boolean,
                default: false
            },
        },
        mounted() {
        }
    }
</script>
