<style lang="scss">
    .pagination {
        justify-content: flex-end !important;
        .page-stats {
            align-items: center;
            margin-right: 5px;
        }
        i {
            color: #3273dc !important;
        }
    }
</style>

<template>
    <nav class="pagination" v-if="!client">
        <span class="page-stats p-2">{{pagination.from}} - {{pagination.to}} of {{pagination.total}}</span>
        <button v-if="pagination.prevPageUrl" class="button btn btn-outline-primary is-small pagination-previous" @click="$emit('prev');">
            Prev
        </button>
        <button class="button is-small pagination-previous btn btn-outline-primary" v-else :disabled="true">
            Prev
        </button>

        <button v-if="pagination.nextPageUrl" class="ml-1 button is-small pagination-next btn btn-outline-primary" @click="$emit('next');">
            Next
        </button>
        <button class="ml-1 button is-small pagination-next btn btn-outline-primary" v-else :disabled="true">
            Next
        </button>
    </nav>

    <nav class="pagination" v-else>
        <span class="page-stats">
            {{pagination.from}} - {{pagination.to}} of {{filtered.length}}
            <span v-if="filtered.length < pagination.total">(filtered from {{pagination.total}} total entries)</span>
        </span>
        <a v-if="pagination.prevPage" class="button is-small pagination-previous" @click="$emit('prev');">
            Prev
        </a>
        <a class="button is-small pagination-previous" v-else :disabled="true">
            Prev
        </a>

        <a v-if="pagination.nextPage" class="button is-small pagination-next" @click="$emit('next');">
            Next
        </a>
        <a class="button is-small pagination-next" v-else :disabled="true">
            Next
        </a>
    </nav>
</template>

<script>
    export default {
        props: ['pagination', 'client', 'filtered']
    }
</script>
