<template>
    <span v-if="warrantyLink">
        <a :href="warrantyLink" target="_blank">
            <small>
                Check Warranty
                <v-icon light x-small title="Open In New Window">
                    open_in_new
                </v-icon>
            </small>
        </a>
    </span>
</template>

<script>
    import {UtilityMixin} from "./Mixins/UtilityMixin";

    export default {
        mixins: [UtilityMixin],
        props: {
            device: null,
        },
        computed: {
            warrantyLink: function() {
                if (this.device) {
                    return this.makeWarrantyLink(this.device);
                }
                return null;
            },
        }
    }
</script>
