<template>
    <v-data-table
        :headers="internal.headers"
        :items="internal.users"
        :sort-by="['enabled','name']"
        :sort-desc = true
        :search="internal.search"
        class="elevation-1"
    >
        <template v-slot:top>
            <v-toolbar flat color="white">
                <v-toolbar-title>Users</v-toolbar-title>
                <v-divider
                    class="mx-4"
                    inset
                    vertical
                ></v-divider>
                <div class="flex-grow-1"></div>
                <v-text-field class="mr-4"
                    v-model="internal.search"
                    append-icon="search"
                    label="Search"
                    single-line
                    hide-details
                ></v-text-field>
                <v-dialog v-model="internal.dialog" persistent max-width="500px">
                    <template v-slot:activator="{ on }">
                        <v-btn color="primary" dark class="mb-2" v-on="on">New Item</v-btn>
                    </template>
                    <v-card>
                        <v-card-title>
                            <span class="headline">{{ internal.formTitle }}</span>
                        </v-card-title>

                        <v-card-text>
                            <v-container>
                                <v-row>
                                    <v-col cols="12">
                                        <errors
                                            :submitting="internal.form.submitting"
                                            :errors="internal.form.errors"
                                        >
                                        </errors>
                                    </v-col>
                                </v-row>

                                <v-row>
                                    <v-col cols="12">
                                        <v-text-field v-model="internal.editedItem.name" label="Name"></v-text-field>
                                    </v-col>
                                    <v-col cols="12">
                                        <v-text-field v-model="internal.editedItem.email" label="Email"></v-text-field>
                                    </v-col>
                                    <v-col cols="12">
                                        <v-checkbox
                                            v-model="internal.editedItem.enabled"
                                            label="Enabled"
                                        ></v-checkbox>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-card-text>

                        <v-card-actions>
                            <div class="flex-grow-1"></div>
                            <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                            <v-btn color="blue darken-1" text @click="save">Save</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-toolbar>
        </template>
        <template v-slot:item.enabled="{item}">
            <v-icon v-if="item.enabled" small class="mr-2">done</v-icon>
            <v-icon v-else small class="mr-2">desktop_access_disabled</v-icon>
        </template>
        <template v-slot:item.action="{ item }">
            <v-icon
                small
                class="mr-2"
                @click="editItem(item)"
            >
                edit
            </v-icon>
            <v-icon v-show="false"
                small
                @click="deleteItem(item)"
            >
                delete
            </v-icon>
        </template>
        <template v-slot:no-data>
            <v-btn color="primary" @click="initialize">Reset</v-btn>
        </template>
    </v-data-table>
</template>


<script>
    export default {
        props: {
            users: {type: Object}
        },
        computed: {
            formTitle () {
                return this.internal.editedIndex === -1 ? 'New User' : 'Edit User'
            }
        },

        watch: {
            dialog (val) {
                val || this.close()
            }
        },

        created () {
        },

        data: function () {
            return {
                internal: {
                    search: "",
                    pagination: {'sortBy': 'enabled', 'descending': false, 'rowsPerPage': 10},
                    dialog: false,
                    deleteDialog: false,
                    users: this.users.data,
                    form: {
                        submitting: false,
                        errors: {},
                    },
                    headers: [
                        { text: 'ID', value: 'id' },
                        { text: 'Name', value: 'name' },
                        { text: 'Email', value: 'email' },
                        { text: 'Enabled', value: 'enabled' },
                        { text: 'Actions', value: 'action', sortable: false }

                    ],
                    editedIndex: -1,
                    editedItemRealId: '',
                    deleteItemIndex: null,
                    deletedItem: {
                        id: '',
                        name: '',
                        email: '',
                        enabled: 1,
                    },
                    editedItem: {
                        id: '',
                        name: '',
                        email: '',
                        enabled: 1,
                    },
                    defaultItem: {
                        id: '',
                        name: '',
                        email: '',
                        enabled: 1,
                    }
                }
            }
        },
        methods: {
            editItem (item) {
                this.internal.editedIndex = this.internal.users.indexOf(item);
                this.internal.editedItem = Object.assign({}, item);
                this.internal.editedItemRealId = this.internal.editedItem.id;
                this.internal.dialog = true;
            },

            deleteItem (item) {
                this.internal.deleteItemIndex = this.internal.users.indexOf(item);
                this.internal.deletedItem = Object.assign({}, item);
                this.internal.deleteDialog = true;

            },

            close () {
                this.internal.dialog = false;
                setTimeout(() => {
                    this.internal.form.errors = {};
                    this.internal.editedItem = Object.assign({}, this.internal.defaultItem)
                    this.internal.editedIndex = -1
                }, 300)
            },

            save () {
                if (this.internal.editedIndex > -1) {
                    this.saveToServer('patch','/users/' + this.internal.editedItemRealId);
                } else {
                    this.saveToServer();
                }
            },

            closeDelete () {
                this.internal.deleteDialog = false;
                setTimeout(() => {
                    this.internal.form.errors = {};
                    this.internal.deletedItem = Object.assign({}, this.internal.defaultItem);
                    this.internal.deleteItemIndex = -1;
                }, 300)

            },

            deleteAction () {
                this.deleteFromServer();
            },
            deleteFromServer() {
                axios.post('/users/' + this.internal.deletedItem.id, {_method: 'delete'})
                    .then(response => {
                        if (response.status === 204) {
                            this.closeDelete(true);
                            this.internal.users.splice(this.internal.deleteItemIndex, 1);
                        }

                    }).catch(e => {
                    this.internal.form.submitting = false;
                    if (e.response.status === 401 || e.response.status === 403 || e.response.status === 500) {
                        this.internal.form.errors = {authError: [e.response.data.message]};
                    }

                    if (e.response.status === 422) {
                        this.internal.form.errors = e.response.data.errors;
                    }
                    return false;
                })
            },

            saveToServer(method = 'post', url='/users') {
                this.internal.form.submitting = true;
                this.internal.form.errors = {};
                axios({
                    method: method,
                    url: url,
                    data: this.internal.editedItem
                })
                    .then(response => {
                        this.internal.form.submitting = false;
                        if (response.status === 201 && this.internal.editedIndex === -1) {
                            this.internal.users.push(response.data.data);
                            this.close();
                        }

                        if (response.status === 200 && this.internal.editedIndex > -1) {
                            Object.assign(this.internal.users[this.internal.editedIndex], response.data.data);
                            this.close();
                        }
                    })
                    .catch(e => {
                        this.internal.form.submitting = false;
                        if (e.response.status === 401 || e.response.status === 403 || e.response.status === 500) {
                            this.internal.form.errors = {authError: [e.response.data.message]};
                        }

                        if (e.response.status === 422) {
                             this.internal.form.errors = e.response.data.errors;
                        }

                        return false;
                    })
            },
        }

    }
</script>
