<template>
    <v-dialog v-model="dialog" max-width="500px">
        <template v-slot:activator="{ on }">
            <v-btn v-on="on"
                   mb-1
                   block
                   text
                   dark color="primary">
                <v-icon dark>add</v-icon> Add A Part
            </v-btn>
        </template>
        <v-card>
            <v-card-title>
                <span class="headline">Add A Part</span>
            </v-card-title>

            <v-card-text>

                <http-helper
                    :action="http.action"
                    :url="http.url"
                    :data="form.data"
                    :reset-state = "http.resetState"
                    @created = handleHttpCreated
                    @failed = handleHttpFailed
                    @statereset = handleHttpStateReset
                >
                </http-helper>

                <v-container grid-list-md>
                    <v-layout>
                        <v-flex>
                            <v-text-field
                                label="Part Description"
                                v-model="form.data.description"
                                browswer-autocomplete="disabled"
                            ></v-text-field>
                        </v-flex>
                        <v-flex>
                            <v-text-field
                                label="Serial"
                                v-model="form.data.serial"
                                browswer-autocomplete="disabled"
                            ></v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-layout>
                        <v-flex>
                            <small class="muted">Changes by: {{currentUser ? currentUser.name : 'No User Found'}}</small>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                <v-btn color="blue darken-1" :disabed="submitting" text @click="create">Save</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>

    import {HttpMixin} from "../Common/Mixins/HttpMixin";

    export default {
        mixins: [HttpMixin],
        props: {
            currentUser: Object,
            workItem: Object,
        },
        data: function () {
            return {
                dialog: false,
                form: {
                    data:{
                        description: null,
                        serial: null,
                        work_item_id: this.workItem.id
                    },
                },
                availableComponents: []
            }
        },
        created() {
            this.http.url = "/work-items/" + this.workItem.id + "/parts";
        },
        watch: {
        },
        mounted() {
            this.resetForm();
        },
        methods:{
            handleHttpCreated(data) {
                this.resetHttpAction();
                this.$emit('created',data);
                this.close();
            },
            handleHttpFailed() {
                this.resetHttpAction();
            },
            create() {
                this.http.action = 'create';
            },
            resetForm() {
                this.form.data.description = null;
                this.form.data.serial = null;
            },
            close () {
                this.dialog = false;
                setTimeout(() => {
                    this.resetHttpState();
                    this.resetForm();
                }, 300);
            },
        },
    };
</script>
