<template>
    <v-dialog v-model="open" max-width="500px">
        <v-card>
            <v-card-title>
                <span class="headline">Remove Part</span>
            </v-card-title>

            <v-card-text v-if="part">
                {{error}}
                <p>Are you sure you want to remove {{part.description}}?</p>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                <v-btn color="blue darken-1" :disabed="submitting" text @click="remove">Delete</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        props: {
            currentUser: Object,
            workItem: Object,
            part: Object,
            dialog: Boolean,
        },
        data: function () {
            return {
                error: null,
                open: this.dialog,
                submitting: false,
            }
        },
        watch: {
            dialog(newVal,oldVal) {
                this.open = newVal;
            }
        },
        mounted() {
        },
        computed: {
        },
        methods:{
            resetErrors() {
                this.errors = {};
            },
            close () {
                this.open = false;
                this.$emit('close');
                setTimeout(() => {
                    this.resetErrors();
                }, 300);
            },
            remove() {
                this.submitting = true;
                this.errors = '';
                axios.post('/parts/' + this.part.id, {_method: 'delete'})
            .then(response => {
                this.submitting = false;
                 if (response.status === 204) {
                     this.$emit('remove',response.data);
                     this.close();
                 }
                }).catch(e => {
                        this.submitting = false;
                        this.errors = "Removal failed.";
                        console.log(e);
                        if (e.response) {
                            console.log(e.response);
                        }
                    })
            },
        },
    };
</script>
